// BS5
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

// Variables
@use './partials/variables' as *;

//font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

#app_header {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: x-small;
    position: absolute;
    width: 100%;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $rock-dark;
    max-width: 100%;
    margin: auto;
}

.nav_logo {
    padding: 1rem;

    img {
        height: 1.5rem;
    }
}

.nav_menu {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-bottom: 0;

        li {
            align-items: center;
            text-align: center;

            a {
                color: $rock-light;
                text-decoration: none;
                text-transform: uppercase;
                text-decoration: none;
            }
            


        }
    }

    .navbar-nav .nav-link.active {
        color: $rock-accent;
    }
}