// BS5
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

// Variables
@use './partials/variables' as *;

//font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

#app_header {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: x-small;
    //position: absolute;
    width: 100%;
    padding: 0;
}

.orange_filter {
    filter: invert(52%) sepia(92%) saturate(473%) hue-rotate(353deg) brightness(94%) contrast(99%);

}

svg.cl_accent:hover {
    filter: invert(52%) sepia(92%) saturate(473%) hue-rotate(353deg) brightness(94%) contrast(99%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $rock-dark;
    max-width: 100%;
    margin: auto;
}

.nav_logo {
    padding: 1.5rem;

    img {
        height: 1.5rem;
    }
}

.nav_menu {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin-bottom: 0;

        li {
            align-items: center;
            text-align: center;

            a, svg {
                color: $rock-light;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $rock-accent;
                }
            }


        }
    }

    .navbar-nav .nav-link.active {
        color: $rock-accent;
    }
}

.hero {
    height: 100vh;

    .container-fluid h1 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 4.5rem;
        color: $rock-light;
    }

    p {
        margin-top: 6rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: smaller;
        color: $rock-accent;
    }
}

.bg_hero {
    background-image: url('../img/image_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5rem solid $rock-dark;
    text-align: center;
}

.btn_cstm {
    background-color: transparent;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 500;
    letter-spacing: 1px;
    color: $rock-light;
    border: 1px solid $rock-accent;
    border-radius: 0%;
    padding: 0.6rem 2.5rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

button.bg_accent:hover {
    background-color: $rock-accent;
    color: $rock-light;
}


#app_cards {
    position: relative;
}

#app_cards .row {
    position: absolute;
    width: 100%;
    top: -7rem;
}

#app_cards {
    .card {

        border-radius: 0%;
        background-color: #121212;


        .text-center {
            display: flex;
            margin: auto;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
            width: 132px;
            aspect-ratio: 1/1;
            border-radius: 50%;

            &:hover {

                border: 1px solid $rock-accent;
                box-shadow: 0px 1px 14px $rock-accent;
            }

            svg {
                align-self: center;
                fill: $rock-light;

            }
        }
    }
}

.card-body {
    padding-top: 2rem;
    padding-bottom: 3rem;

    h6 {
        text-align: center;
        color: $rock-light;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        font-size: x-small;
        font-weight: 300;
        color: lightgray;
    }
}

#who_we_are_section {
    background-color: $rock-dark;

    .container-fluid {
        max-width: 50%;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        color: $rock-light;
    }

    h6 {
        text-align: center;
        margin-top: 8rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 0.6rem;
        color: $rock-accent;
    }

    p {
        text-align: center;
        font-size: x-small;
        font-weight: 300;
        color: lightgray;
    }

}

#video_section {
    height: 100vh;
    background-image: url(../img/Video-1536x541.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5rem solid $rock-dark;
    text-align: center;

    svg {
        margin-bottom: 1.5rem;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        color: $rock-light;
    }
}

#gallery_section {
    background-color: $rock-dark;

    h6 {
        text-align: center;

        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 0.6rem;
        color: $rock-accent;
    }

    h1 {
        margin-bottom: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        color: $rock-light;
    }


    .card {

        background: none;
        border: none;
    }

    .card-body {
        padding-top: 1rem;
        padding-bottom: 0.5rem;

        h5 {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            color: $rock-light;
        }
    }

    .card-body img {
        width: 400px;
        object-fit: contain;

    }

    .card-title {
        margin-top: 0.5rem;
    }

    .card-text {
        font-size: x-small;
        font-weight: lighter;
        justify-content: center;
        color: $rock-light;
        gap: 1rem;

        span {
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }

        svg {
            filter: invert(100%);
        }
    }
}

#album_promo .bg_promo {
    background-image: url('../img/cms_parallax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 0.3rem solid $rock-dark;
    border-right: 0.3rem solid $rock-dark;
    text-align: center;

}

#album_promo h1 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: $rock-light;
}

#album_promo p {
    margin-top: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: smaller;
    color: $rock-accent;
}

#numbers_section {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: $rock-light;

    p {
        font-weight: 500;
        font-size: small;
    }

    svg {
        filter: invert(100%);
        margin-bottom: 0.8rem;
    }


    .bg_numbers {
        background-image: url('../img/counter_parallax.jpg');
        border-left: 0.3rem solid $rock-dark;
        border-right: 0.3rem solid $rock-dark;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
}

#blog_section {
    background-color: $rock-dark;

    .card {
        background: none;
        border: none;
    }

    .card-body {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        padding-right: 0;
        padding-left: 0;
    }

    .card-body img {
        width: 400px;
        object-fit: contain;

    }

    h6 {
        text-align: start;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: $rock-light;
    }

    .card-text {
        font-size: x-small;
        font-weight: lighter;
        color: $rock-accent;
    }

    h1 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        color: $rock-light;
    }

    p {
        margin-top: 0.5rem;
        font-weight: 100;
        letter-spacing: 1px;
    }
}



.footer_top {
    img {

        width: 100%;
    }

    .col {
        border: 1px solid $rock-dark;
    }
}

.footer_mid {
    background-color: $rock-dark;
    color: $rock-light;

    h6 {
        text-align: start;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: $rock-light;
        margin-bottom: 1rem;
    }

    li {
        margin-top: 0.5rem;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: small;
    }

    .form-control {
        border-radius: 0%;
        border-color: rgb(32, 31, 31);
        background-color: transparent;
    }

    .effect svg:hover {
        color: $rock-accent;
    }

}

.footer_bot {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $rock-dark;
    color: gray;
    text-align: center;
    font-weight: 200;
    font-size: small;
    padding: 1rem;

    a {

        color: inherit;
        text-decoration: inherit;

        
    }
}